<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Use Arch, BTW - the flexing web dev blog.</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="p-2">
        <div class="navbar d-flex p-3" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <div class="container-fluid flex-nowrap">
            <a class="nav-link active col-md-4" aria-current="page" href="/" id="navHome">Home</a>
            {{#if loggedIn}}
            <a class="nav-link link-light col-md-4" href="/profile" id="navProfile">Profile</a>
            <a class="nav-link link-light col-md-4" href="/logout" id="navLogout">Logout</a>
            {{else}}
            <a class="nav-link link-light col-md-4" href="/login" id="navLogin">Login</a>
            {{/if}}
          </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main class="container container-fluid mt-5">
  {{{ body }}}
  </main>
  </body>
  <script src="/js/logout.js"></script>
</body>
</html>