{{#each blogs as |post|}}
    <div class="row mb-4">
        <div class="col-md-5">
            <div class="card" style="width: 18rem;" data-id={{blog.id}}>
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{format_post post.content}}</p>
                    <a href="#" class="btn btn-primary">View Full Post</a>
                </div>
            </div>
        </div>
    </div>
{{/each}}